@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer components {
  .heroButton {
    /* Replaced @apply with direct CSS properties */
    padding-left: 1.5rem; /* px-6 */
    padding-right: 1.5rem; /* px-6 */
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
    border: 1px solid #242424;
    border-radius: 9999px; /* rounded-full */
    text-transform: uppercase; /* uppercase */
    font-size: 0.75rem; /* text-xs */
    letter-spacing: 0.1em; /* tracking-widest */
    color: #6b7280; /* text-gray-500 */
    transition: all 0.2s; /* transition-all */
  }

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}



  .heroResume {
    padding-left: 1.5rem; 
    padding-right: 1.5rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    border: 1px solid #f2ad1ad0;
    border-radius: 9999px; 
    text-transform: uppercase; 
    font-size: 0.75rem; 
    letter-spacing: 0.1em; 
    color: #6b7280; 
    transition: all 0.2s; 
  }
  .heroResume:hover {
    border-color: #f7AB0A; /* hover:border-[#f7AB0A]/40 */
    color: #f7AB0A; /* hover:text-[#f7AB0A]/40 */
  }
  

  .contactInput {
    outline: none; 
    background: rgba(156, 163, 175, 0.1);
    border-radius: 0.125rem; 
    border-bottom: 1px solid #242424; 
    padding-left: 1.5rem; 
    padding-right: 1.5rem; 
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    color: #6b7280;
    transition: all 0.2s;
    font-weight: bold; 
    font-size: 1.125rem;
  }

  .contactInput::placeholder {
    color: #6b7280; /* placeholder-gray-500 */
  }
  

  .contactInput:focus {
    border-color: #f7AB0A; /* focus:border-[#f7AB0A]/40 */
    color: #f7AB0A; /* focus:text-[#f7AB0A]/40 */
  }

  .contactInput:hover {
    border-color: #F7AB0A; /* hover:border-[#F7AB0A]/40 */
  }
}

.image-transition {
  animation: pop-up 1s ease-in-out;
}


@keyframes pop-up {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

